.content {
    display: grid;
    width: 100%;
    background-color: var(--white);
    grid-template-rows: 11.4rem 1fr;

    grid-template-areas: 
    'header'
    'notebook';
}

header {
    grid-area: header;
    color: var(--black);
    
    font-size: 6rem;
    padding: 3.4rem 5rem 0 5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notebook {
    grid-area: notebook;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.table {
    color: var(--black);
    width: 100%;
    text-align: left;

    border-collapse: separate;
    border-spacing: 0 1rem;

    text-align: center;
}

.title {
    font-size: 1.6rem;
    padding: 0 2rem 0 1rem;
    color: var(--gray-blue);
}

td {
    font-size: 1.6rem;
    padding: 1rem;
    background-color: var(--bright-white);

    vertical-align: middle;
}

td:first-child {
    border-radius: 1rem 0 0 1rem;
}

td:last-child {
    border-radius: 0 1rem 1rem 0;
}

img {
    margin-right: .5rem;
}

a {
    font-size: 1.6rem;
    color: var(--blue)
}

.delete {
    padding-right: 2rem;
}

.edit, .delete {
    color: var(--gray);
    vertical-align: middle;
    text-align: center;
}

td a, td img {
    vertical-align: middle;
    display: inline-block;
}

.new-contact {
    margin: 2rem 0 0 0;
    color: var(--black);
    font-size: 1.6rem;
}