<link rel="stylesheet" href="/css/home.css" />

<main class="notebook">
  <a href="/contact/new-contact" id="contact">+ Novo contato</a>
  <table class="table">
    <thead>
      <tr>
        <th class="title">Nome</th>
        <th class="title">Número</th>
        <th class="title">E-mail</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Gabriel Diniz</td>
        <td>(83) 98887-2324</td>
        <td>gabrielpombodiniz@gmail.com</td>
        <td class="edit">
          <a href="/contact/edit"><img src="/img/edit.svg" alt="Editar contato" />Editar</a>
        </td>
        <td class="delete">
          <a href="#"
            ><img src="/img/delete.svg" alt="Excluir contato" /> Excluir</a
          >
        </td>
      </tr>
      <tr>
        <td>Gabriel Diniz</td>
        <td>(83) 98887-2324</td>
        <td>gabrielpombodiniz@gmail.com</td>
        <td class="edit">
          <a href="/contact/edit"><img src="/img/edit.svg" alt="Editar contato" />Editar</a>
        </td>
        <td class="delete">
          <a href="#"
            ><img src="/img/delete.svg" alt="Excluir contato" /> Excluir</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</main>

