  <link rel="stylesheet" href="/css/login.css" />
  <div class="bg"></div>
  <main class="container">
    <section>
      <form action="/login/login" method="POST" class="form" autocomplete="off">
        <%- include("./errors") %>
        <h2>Faça seu login</h2>
        <input type="hidden" name="_csrf" value=<%= csrfToken %> />

        <label for="user">Usuário</label>
        <input type="text" name="user" id="user" placeholder="Usuário" />
        <label for="password">Senha</label>
        <input type="password" name="password" id="password" placeholder="Senha" />
        <button type="submit" class="button">Fazer login</button>
      </form>
    </section>

    <div class="separator">
      <div></div>
      <div>ou</div>
      <div></div>
    </div>

    <section>
      <h2>Ainda não tem uma conta?</h2>
      <a href="/create-account"
        ><button class="button subscribe">Cadastre-se</button></a
      >
    </section>
  </main>